html {
  font-family: 'Abril Fatface', Tahoma, sans-serif;
  /*background: #314B5C;*/
  width: 100%;
  height: 100%;
}

.wrapper {
  height: 97vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
}
.links {

}
#name {
  font-weight: bolder;
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
}
#occupation {
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
}
.social-roll {
	/*background-image: url('path/to/gray/image.png');*/
	height: 3em;
	width: 3em;
  background-size: cover;
	margin: .5em;
	border-radius: 50%;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.linkedin {
  background-image: url('../images/gray/Linkedin.png');
}
.github {
  background-image: url('../images/gray/Github.png');
}
.facebook {
  background-image: url('../images/gray/Facebook.png');
}
.email {
  background-image: url('../images/gray/icon-mail-share.png');
}
.social-roll:hover {
	/*background-image: url('path/to/color/image.png');*/
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	transform:rotate(360deg);
}
.linkedin:hover {
  background-image: url('../images/colored/Linkedin.png');
}
.github:hover {
  background-image: url('../images/colored/Github.png');
}
.facebook:hover {
  background-image: url('../images/colored/Facebook.png');
}
.email:hover {
  background-image: url('../images/colored/icon-mail-share.png');
}
