h1 {
  text-transform: uppercase;
  position: relative;
  font-family: "Source Code Pro";
  line-height: 1;
  font-weight: bold;
  color: white;
}
#web,#dev {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
#web::before {
  content: "ANDRE";
}
#dev::before {
  content: "ANDREW ";
  color: transparent;
}
#web span, #dev span {
  width: 1px;
  word-wrap: break-word;
  display: inline-block;
  vertical-align: top;
  color: purple;
}

header {
    background-image: url("../images/DarkBackground.jpg");
}

#headshot {
    height: 200px;
    width: 200px;
    border-radius: 50px;
}

#start {
    font-family: Garamond;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

h2 {
    font-family: Garamond, sans-serif;
    color: blue;
}

#aboutme {
    font-size: 1em;
    font-family: Helvetica, Arial, sans-serif;
    font-style: oblique;
    font-weight: 500;
    color: #303030;
    display: block;
    text-align: center;
}

#interestslist {
    font-family: Helvetica;
    font-weight: 600;
    color: #202020;
    text-align: center;
}

#links {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.social {
    height: 50px;
    width: 50px;
}