h1 {
  text-transform: uppercase;
  position: relative;
  font-family: "Source Code Pro", Arial;
  line-height: 1;
  font-weight: bold;
  font-size: 70px;
  color: purple;
}
#web,#dev {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
#web::before {
  content: "ANDRE";
}
#dev::before {
  content: "ANDREW ";
  color: transparent;
}
#web span, #dev span {
  width: 1px;
  word-wrap: break-word;
  display: inline-block;
  vertical-align: top;
  color: white;
}

body {
    background: url("../images/DarkBackground.jpg") no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
    background-size: cover;
}

#headshot {
    height: 300px;
    width: 300px;
    border-radius: 50px;
}

#start {
    font-family: Garamond;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#webdeveloper {
    text-align:right;
    padding-right: 20px;
    font-size: 40px;
}

h2 {
    font-family: Garamond, sans-serif;
    color: black;
    background-color:#ff9966;
    padding: 10px 10px 10px 30px;
    border-color: black;
    border-radius: 20px;
}

#aboutme {
    font-size: 1em;
    font-family: Helvetica, Arial, sans-serif;
    font-style: oblique;
    font-weight: 500;
    color: #303030;
    display: block;
    text-align: center;
    color: white;
}

#interestslist {
    font-family: Helvetica;
    font-weight: 600;
    color: #202020;
    text-align: center;
    color: white;
}

#links {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.social {
    height: 50px;
    width: 50px;
    border-radius: 10px;
}